@media (orientation: landscape) {
    .square-container {
        height: 100vh;
        max-height: 100vh;
        display: flex;
        align-items: stretch;
        flex-direction: row;
    }
    
    .square-block {
        max-width: calc(100vh - 32px);
        padding: 16px;
        flex: 1 1 calc(100vh - 32px);
    }
}

@media (orientation: portrait) {
    .square-container {
        display: flex;
        align-items: stretch;
        flex-direction: column;
    }
    
    .square-block {
        max-height: calc(100vw - 32px);
        padding: 16px;
        flex: 1 1 calc(100vw - 32px);
    }
}

.square-other {
    flex: 0 0 auto;
}